<%console.log("views/auth/login.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h4>Login</h4>
  	<form action="/auth/login" method="POST">
    Username: <input type="text" name="username" placeholder="username"><br>
    Password: <input type="text" name="password" placeholder="password"><br>
    <button type="submit">Login</button>
  </form>





  
</body>
</html>
