<%console.log("views/auth/login.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script type="text/javascript">
		// This is a function that will randomize the name of each slave as it's created.
		const namesList = ["Julianus Dama", "Vel Angelus", "Tertius Valens", "Lucius Ecdicius", "Caelus Constans", "Marcellus Balbus", "Opiter Postumus"];
		const namesGenerated = [];
		const gladiatorName = namesList[Math.floor(Math.random()*namesList.length)];
			const generateName = () => {
				console.log(gladiatorName);
				return
			};
	</script>
	<title>User Login</title>
</head>
<div>
	<h3>Login</h3>
<form action="/auth/login" method="post">
	Display Name: <input type="text" name="displayName" placeholder="Display Name"><br>
	Email: <input type="text" name="username" placeholder="you@email.com"><br>
	Password: <input type="password" name="password" placeholder="password"><br>
	<button type="submit">Login</button>
</form><br>
<h3>Create an Account</h3>
<body>
  	<form action="/auth/register" method="POST">
  	Display Name: <input type="text" name="displayName" placeholder="Display Name"><br>
    Email: <input type="text" name="username" placeholder="you@email.com"><br>
    Password: <input type="password" name="password" placeholder="password"><br>
    <input type="submit" name="Submit">
  </form>
</div><br/>
<%=message%>
<section>
	<ul>
		
	</ul>
</section>
</body>
</html> 