<%console.log("views/index.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="css/homepage.css">
	<title>Home Page</title>
</head>
<body>

	<h1 class='title'>Welcome to Gladiator Gambler</h1>
	<nav>
		<div>
			<ul class='navbar'>
		  		<li class='navbarli'><a class='navbarlia' href="/slaves/new">Gladiator Market</a></li>
		  		<li class='navbarli'><a class='navbarlia' href="/tourneys">Colosseum</a></li>
		  		<li class='navbarli'><a class='navbarlia' href="/users/<%=userId%>"><%=displayName%></a></li>
		  		<li id='logout'><a class='navbarlia' href="auth/logout">Logout</a></li>
			</ul>
		</div>
	</nav>

<div class='mainbody'>

		<h2 class='welcome'>Welcome, <%=displayName%></h2>

		<img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Gladiators_from_the_Zliten_mosaic_3.JPG">

		<ul>
			<h2>Current Updates:</h2>
		</ul>
		
		<ul>
			<li>A gladiator market has opened up in town.</li>
			<li>The Colosseum is currently hosting the "Bronze Cup" Tournament</li>
			<li>Something something something....</li>
		</ul>
		


</body>
</html> 