<%console.log("views/index.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="">

</head>
<body>

	<header>
		<h1>Gladiator Gambler</h1>

		<% if(user.loggedIn = false){%>

		<a href="/user/new">Register</a> / <button></button>

		<% }else{ %>

		<nav>
			<ul>
				<li><a href=""></a></li> |
				<li><a href=""></a></li> |
				<li><a href=""></a></li> |
			</ul>
		</nav>

	</header>



</body>
</html> 