header {
    background-image: url('https://news.nationalgeographic.com/content/dam/news/photos/000/769/76935.ngsversion.1422286124174.adapt.1900.1.jpg');
    background-repeat: no-repeat;
    background-size: 1350px 200px;
    background-position: left bottom;
    height: 200px;
    width: 1350px;
    margin: auto;
    border-radius: 10px;
}
.title {
    margin: 60px auto 60px auto;
    /*color: #905923;*/
    font-family: Luminari, fantasy;
    font-size: 50px;
}
.listtitle {
    font-family: Luminari, fantasy;
    color: #A75B10;
}
body {
    /*background-image: url('https://thumbs.dreamstime.com/z/old-roman-tunnel-to-gladiator-arena-constructed-rectangular-blocks-33484462.jpg');*/
    background-image: url('https://news.nationalgeographic.com/content/dam/news/photos/000/769/76935.ngsversion.1422286124174.adapt.1900.1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
}
.mainbody {
    /*background-color: #F8ECC2;*/
    background-color: rgba(248,236,194, 0.9);
    margin: auto;
    height:1000px;
    width: 1350px;
    border-radius: 10px;
}
.gladiator {
    background-color: #F8ECC2;
    height: 350px;
    width: 200px;
    border-radius: 7px;
    float: left;
    margin: 10px 100px;
}
.logout {
    margin: 0px 0px 0px 786px;
}



.navbar{
    margin: 10px auto;
    border-radius: 10px;
}

/*navbar CSS*/
ul {
    width: 1350px;
    margin: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#newslave {
    margin: 0px 0px 0px 900px;
}