.title {
    color: rgba(248,236,194, 0.9);
    margin: 60px auto 60px auto;
    /*color: #905923;*/
    font-family: Luminari, fantasy;
    font-size: 50px;
    text-align: center;
}
body {
    /*background-image: url('https://thumbs.dreamstime.com/z/old-roman-tunnel-to-gladiator-arena-constructed-rectangular-blocks-33484462.jpg');*/
    background-image: url('https://images3.alphacoders.com/166/thumb-1920-166799.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.mainbody {
    /*background-color: #F8ECC2;*/
    background-color: rgba(248,236,194, 1);
    margin: auto;
    height:1250px;
    width: 1350px;
    border-radius: 10px;
}
.listtitle {
    font-family: Luminari, fantasy;
    color: #A75B10;
}





/*navbar CSS*/
.navbar{
    width: 1350px;
    margin: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 10px auto;
    border-radius: 10px;
}

/*navbar CSS*/
/*ul {
    width: 1350px;
    margin: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

.navbarli {
    float: left;
}

.navbarlia {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#logout {
    float: right;
    /*margin: 0px 0px 0px 600px;*/
}









/*Tournament Bracket*/
/*#tournament {
    background-color: white;
    height: 200px;
    width: 500px;
    margin: 0px auto;
    border: 2px solid maroon;
    border-radius: 10px;
}*/
#bronze-cup {
    background-color: white;
    height: 200px;
    width: 500px;
    margin: 0px auto;
    border: 2px solid maroon;
    border-radius: 10px;
}
#silver-cup {
    background-color: white;
    height: 320px;
    width: 670px;
    margin: 0px auto;
    border: 2px solid maroon;
    border-radius: 10px;
}
#gold-cup {
    background-color: white;
    height: 400px;
    width: 800px;
    margin: 0px auto;
    border: 2px solid maroon;
    border-radius: 10px;
}
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }
.round .game-spacer{
    flex-grow:1;
}
/*General Style*/
/*body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}*/
li.game{
  padding-left:20px;
}
  li.game.winner{
    /*font-weight:bold;*/
  }
  li.game span{
    float:right;
    margin-right:5px;
  }
  li.game-top{
    border-bottom:1px solid #aaa; 
  }
  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }
  li.game-bottom{ 
    border-top:1px solid #aaa;
  }