<%console.log("tourney/edit.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Edit Tourney</title>
</head>
<body>

</body>
</html>