<%console.log("views/tourney/index.ejs is running...");%>



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/tourneyindex.css">
</head>
<body>
	<h1 class='title'>Colosseum</h1>


<div>
	<ul class='navbar'>
  		<li><a href="/">Front Page</a></li>
  		<li><a href="/slave">Slave Barracks</a></li>
  		<li><a href="/users">Account Setting</a></li>
  		<li><a class='logout' href="auth/logout">Logout</a></li>
	</ul>
</div>


<div class='mainbody'>
	<h2>Upcoming Tournaments</h2>
	<div>
		Some sick game rules<p/>
	</div>
	<div>
		Some dope tournaments<p/>
	</div>




	<h2>Upcoming Tournaments</h2>

	<h3>The Bronze Cup</h3>



<main id="tournament">
    <ul class="round round-1">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top winner">gladiator1<span>79</span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">upgladiator2<span>48</span></li>
        <li class="spacer">&nbsp;</li>  
    </ul>
    <ul class="round round-2">
        <li class="spacer">&nbsp;</li>
        <li class="game game-top winner">Lousville <span>82</span></li>
    </ul>
</main>


	<h3>The Silver Cup</h3>





























</div>
</body>
</html> 
