<%console.log("views/tourney/index.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/tourneyindex.css">
</head>
<body>
	<h1 class='title'>Colosseum</h1>


<div>
	<ul class='navbar'>
  		<li><a href="/">Front Page</a></li>
  		<li><a href="/slave">Slave Barracks</a></li>
  		<li><a href="/user">Account Setting</a></li>
  		<li><a class='logout' href="/logout">Logout</a></li>
	</ul>
</div>


<div class='mainbody'>
	<div>
		Some sick game rules<p/>
	</div>
	<div>
		Some dope tournaments<p/>
	</div>
</div>
</body>
</html> 