<%console.log("tourney/new.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>New Tourney</title>
</head>
<body>

</body>
</html>