<%console.log("views/slave/index.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/slaveindex.css">
</head>
<body>

	<h1 class='title'>Slave Barracks</h1>


	<ul class='navbar'>
  		<li><a href="/">Front Page</a></li>
  		<li><a href="/tourney">Colosseum</a></li>
  		<li><a href="/user">Account Setting</a></li>
  		<li><a href="/slave/new">Slave Market</a></li>
  		<li><a class='logout' href="auth/logout">Logout</a></li>
	</ul>


<div class='mainbody'>
	<h4>Actice Gladiators</h4>

	<main>
		<ul>
			<% for (let i = 0; i < slaves.length; i++) { %>
			<li><a href="/slaves/<%=slaves[i].id%>"><%=slaves[i].name%></a></li>
			<% } %>
		</ul>
	</main>

</div>
	