<%console.log("views/slave/new.ejs");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>

	<header>
		<h1>Slave Market</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/slaves">Active Gladiators</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<form action="/slaves" method="POST">
			<input type="text" name="name" placeholder="new slave name">
			<input type="submit">
		</form>
	</main>

</body>
</html>