<%console.log("views/slave/new.ejs");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Market</title>
</head>
<body>

	<header>
		<h1>Slave Market</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/slaves">Active Gladiators</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<ul>
			<% for (let i = 0; i < availableGladiators.length; i++) { %>
				<li><%=availableGladiators[i].name%></li>
			<% } %>
		</ul>
	</main>

</body>
</html>