<%console.log("views/slave/index.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Market</title>
	<link rel="stylesheet" type="text/css" href="/css/slavenew.css">
</head>
<body>

	<h1 class='title'>Slave Market</h1>


	<ul class='navbar'>
  		<li><a href="/">Front Page</a></li>
  		<li><a href="/slaves">Active Gladiators</a></li>
  		<li><a href="/tourney">Colosseum</a></li>
  		<li><a href="/user">Account Setting</a></li>
  		<li><a class='logout' href="auth/logout">Logout</a></li>
	</ul>



	<h2 class="listtitle">Gladiators List</h2>

	<% for(i = 0; i < slaves.length; i++) {%>
 
		<div class="gladiator">
			<h4><%=slaves[i].name%></h4>

			<form action="<%=slaves[i].id%>/purchase" method="POST">
				<button type='submit'>Purchase</button>
			</form>

		</div>

    <% } %>








	


	

	<main>
		<form action="/slaves" method="POST">
			<input type="text" name="name" placeholder="new slave name">
			<input type="submit">
		</form>
	</main>

</body>
</html>