<%console.log("views/slave/show.ejs is running...");%>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gladiator Details</title>
</head>
<body>

	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<ul>
				<h1><%=slave.name%></h1>
				<a href="/slaves/<%=slave.id%>/edit">Change Name</a>
			</ul>
		</section>
	</main>

</body>
</html>